.content {
    display: flex;
    @media only screen and (max-width: 768px) {
        display: block;
    }
    @media print {
        display: block;
    }
    height: 100vh;
    > pre {
        flex: 1;
        margin-bottom: 0;
        background: #282c34;
        box-shadow: 0 0 7px #00000066;
        white-space: pre-wrap;
    }
    ::-webkit-scrollbar {
        background: transparent;
        width: 8px;
    }
    ::-webkit-scrollbar-thumb {
        background: #00000066;
    }
}

.icon {
    width: 4em;
    margin: 1em;
}

.title {
    font-size: 220%;
    vertical-align: middle;
    text-shadow: 0 0 5px #00ff5a;
    color: #fff;
}

.controls {
    @media print {
        display: none;
    }
    overflow: auto;
    max-width: 20em;
}
