.content {
    display: flex;
    > pre {
        flex: 1;
        background: #282c34;
        box-shadow: 0 0 7px #00000066;
        white-space: pre-wrap;
    }
}

.form {
    padding: 1em;
}

.code {
}
