@import "~bootstrap/scss/functions";

$body-bg: #2C2F33;
$body-color: #DDD;
$primary: #00CC00;

$primary:       #00CC00;
$secondary:     #00CC00;
$success:       #00CC00;
$info:          #00CC00;
$warning:       #00CC00;
$danger:        #00CC00;
$light:         #00CC00;
$dark:          #00CC00;

$theme-colors: (
    "primary": #00CC00
);

$font-family-sans-serif: Ubuntu, Roboto, Arial, sans-serif;
$font-family-monospace: 'Source Code Pro', 'Ubuntu Mono', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;

$form-group-margin-bottom: 2px;

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";
