@import "./variables.global.scss";

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

//@import "~bootstrap/scss/type";
//@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
//@import "~bootstrap/scss/grid";
//@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
//@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
//@import "~bootstrap/scss/input-group";
//@import "~bootstrap/scss/custom-forms";
//@import "~bootstrap/scss/nav";
//@import "~bootstrap/scss/navbar";
//@import "~bootstrap/scss/card";
//@import "~bootstrap/scss/breadcrumb";
//@import "~bootstrap/scss/pagination";
//@import "~bootstrap/scss/badge";
//@import "~bootstrap/scss/jumbotron";
//@import "~bootstrap/scss/alert";
//@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
//@import "~bootstrap/scss/list-group";
//@import "~bootstrap/scss/close";
//@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
//@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

// HTML tags style

button {
    outline: none;
    border-radius: 7px;
    border: 1px solid #fff;
    color: #fff;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    padding-left: 0.85em;
    padding-right: 0.85em;
    outline: none;
    user-select: none;
    background: linear-gradient(to bottom, $primary 0%, darken(adjust-hue($primary, 30), 35) 100%);
    cursor: pointer;
    font-family: $font-family-sans-serif;
    transition: background-color 0.2s;
    &:active {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-color: darken(adjust-hue($primary, 0), 40);
    }
    &:not([disabled]):hover {
        background: linear-gradient(to bottom, darken(adjust-hue($primary, 30), 35) 0%, darken(adjust-hue($primary, 30), 20) 100%);
        text-shadow: 0 0 5px #844900;
    }
    &[disabled] {
        background: #525252;
        color: #adadad;
        border-color: #adadad;
        cursor: not-allowed;
    }
    &:focus {
        outline: none;
    }
    + button {
        margin-left: 4px;
    }
}

// react-jsonschema-form style

.form-group.field-boolean,
.array-item-list .form-group.field-string {
    margin-top: 0em;
    margin-bottom: 0em;
}

fieldset.field-array-of-string .array-item {
    margin-bottom: $form-group-margin-bottom;
}
