@import "~bootstrap/scss/functions";

$body-bg: #2C2F33;
$body-color: #DDD;

$info: #70c370; // "Add" button color
$danger: #d66464; // "Remove" button color
$success: #70c370; // "Remove" button color

$primary: $info;

$font-family-sans-serif: Ubuntu, Roboto, Arial, sans-serif;
$font-family-monospace: 'Source Code Pro', 'Ubuntu Mono', 'Courier New', monospace;

$form-group-margin-bottom: 1.5em;
$input-btn-padding-y: 0.1rem !default;
$input-btn-padding-x: 0.5rem !default;

@import "~bootstrap/scss/variables";
